<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div>
        {{#if qrCodes.box}}
            <div style="height: 273px; width: calc(((100% / 7) * 2) - 3px); float:left; border: solid 1px; margin-bottom: -1px; margin-right: -1px; background-color: #eccecd; ">
                <p style="text-align: center; margin-bottom: 40px; margin-top: 5px; font-size: 12px;">Box</p>
                <img src="{{qrCodes.box}}" style="height: 120px; width: 120px; margin-left: calc(50% - 60px);">
                <p style="text-align: center; margin-top: 40px; margin-bottom: 10px; font-size: 12px">Box</p>
            </div>
        {{/if}}
        {{#each qrCodes.products}}
            <div style="height: 136px; width: calc((100% / 7) - 2px); float:left; border: solid 1px; margin-bottom: -1px; margin-right: -1px; background-color: #eccecd;">
                <p style="text-align: center; margin-bottom: 5px; margin-top: 5px; font-size: 12px">Item {{inc @index}}</p>
                <img src="{{this.url}}" style="height: 70px; width: calc(100% - 20px); margin-left: 10px;">
                <p style="text-align: center; margin-top: 10px; margin-bottom: 10px; font-size: 12px">Item {{inc @index}}</p>
            </div>
            {{#if this.box}}
                {{#ifCond @index 'less' '38'}}
                    {{#ifCond @index 'percent' '38'}}
                        <div style="page-break-before: always;">&nbsp;</div>
                    {{/ifCond}}
                {{/ifCond}}
                {{#ifCond @index 'greater' '42'}}
                    {{#ifCond @index 'percent' '40'}}
                        <div style="page-break-before: always;">&nbsp;</div>
                    {{/ifCond}}
                {{/ifCond}}
            {{else}}
                {{#ifCond @index 'percent' '42'}}
                    <div style="page-break-before: always;">&nbsp;</div>
                {{/ifCond}}
            {{/if}}
            
        {{/each}}
    </div>
  </body>
</html>
