<!DOCTYPE html>
<html>
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;
    }
    html {
      height: 100%;
    }
    input[type="text"],
		input[type="number"],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      width: 100%;
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }
    input[disabled], input[disabled]:hover {
      background-color: #979997;
    }

    .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
  </style>
  <body>
    <div
      style="
        max-width: 700px;
        display: flex;
        justify-content: center;
        flex-direction: column;
      "
    >
      <h3>Generate QR code</h3>

      <div class="container">
        <form onsubmit="event.preventDefault(); updateQR()"> 
          <label for="type">Type</label>
          <select id="type" name="type">
            <option value="B">Box</option>
            <option value="P">Product</option>
          </select>
          <label for="fname">Box</label>
          <input
            type="number"
            id="box"
            name="box"
            placeholder=""
						max="10"
						min="0"
          />

          <label for="lname">Item Code</label>
          <input
            type="text"
            id="code"
            name="code"
            placeholder=""
            required
          />

					<label for="lname">Item Quantity</label>
          <input
            type="number"
            id="quantity"
            name="quantity"
            placeholder=""
						min="0"
						max="9999"
            required
          />

          <input type="submit" value="Submit" id="button" />
        </form>
      </div>
    </div>
		
    <script>
      // var errorEl = document.getElementById("button");
      var updateQR = function (e) {
        document.getElementById("button").disabled = true;
				let type = document.getElementById("type").value
				let box = document.getElementById("box").value
				let code = document.getElementById("code").value
				let quantity = document.getElementById("quantity").value
        $.ajax({
          type: "POST",
          url: "create",
          data: JSON.stringify({type, box, code, quantity}),
          contentType: "application/json; charset=utf-8", // <- this is what you should add
          success: function (data) {
            document.getElementById("button").disabled = false;
            window.location.href = data.url
          },
          error: function (err) {
            document.getElementById("button").disabled = false;
          }
        });
      };

      // errorEl.addEventListener("submit", updateQR, false);
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>
